<section class="section__body">
    <nav>
        <button class="section__button" routerLink="./new">+</button>
      </nav>
    <ul class="notes">
        @for (note of notes; track note.id) {
        <li class="notes__item">
            <button class="notes__itemButton" [routerLink]="['/note', note.id]">
                <h3 class="notes__title">{{note.title}}</h3>
                <p class="notes__content">{{note.text}}</p>
            </button>
        </li>
        }
    </ul>
    @if (notes.length === 0) {
        <h2 class="section__heading">Add Your first Note!</h2>
    }
</section>