<article class="form__container">
    <h2>
        New Note
    </h2>
    <form class="form" [formGroup]="addNoteForm" (ngSubmit)="addNote()">
        <div class="form__field">
            <label for="note-title">
                Title:
            </label>
                <input class="form__input" id="note-title" formControlName="title" />
        </div>
        <div class="form__field">
            <label for="note-text">
                Text:
            </label>
                <textarea class="form__input" id="note-text" formControlName="text"></textarea>
        </div>
        <div class="form__buttons">
            <button class="form__button form__button--addNote" type="button" type="submit" [disabled]="!addNoteForm.valid">
                Add Note
            </button>
            <button class="form__button form__button--discard" type="button" routerLink="">
                Discard
            </button>
        </div>
    </form>
</article>